.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 32px;
}

.imgContainer {
  width: 50vw;
  height: 90vh;
  padding: 16px;
}

.imgContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.descContainer {
  padding: 16px;
}
