.container {
  margin: 16px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.imgContainer {
  height: 100%;
  width: 100%;
  border: 2px solid black;
  padding: 8px;
}

.imgContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.descContainer {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 4px;
}

