.container {
  margin: 16px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 32px;
}

.imgContainer {
  height: 100%;
  width: 100%;
  padding: 8px;
}

.imgContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 32px;
}

.descContainer {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 4px;
  border-radius: 32px;
  margin: 4px;
  background-color: #c9aeaecc;
}

.title {
  color: black;
}
